<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urbify | Apartamentos</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
</head>

<body class="bg-gray-100 font-sans">
    <!-- Sidebar fijo -->
    <aside
    class="fixed top-0 left-0 w-64 h-screen bg-[#138fcb] text-white flex flex-col justify-between shadow-lg overflow-y-auto z-50">
    <div>
      <div class="p-6 flex flex-col items-center text-center">
        <img class="w-24 h-24 rounded-full border-4 border-white bg-white" th:src="@{/img/admin.png}"
          alt="Perfil Admin" />
        <h2 class="mt-4 text-xl font-bold" th:text="${admin.firstName + ' ' + admin.lastName}">Nombre Admin</h2>
        <p class="text-sm text-white/80" th:text="${admin.email}">admin@email.com</p>
      </div>
      <nav class="flex flex-col gap-2 px-6 text-lg">
        <a th:href="@{/admins/action}" class="flex items-center gap-3 p-2 rounded hover:bg-white/10">
          <i class="hgi hgi-stroke hgi-home-06"></i> Inicio
        </a>
        <a th:href="@{/admins/vigilants}" class="flex items-center gap-3 p-2 rounded hover:bg-white/10">
          <i class="hgi hgi-stroke hgi-user"></i> Registrar Vigilantes
        </a>
        <a th:href="@{/payments}" class="flex items-center gap-3 p-2 rounded hover:bg-white/10">
          <i class="hgi hgi-stroke hgi-eye"></i> Ver Pagos
        </a>
        <a th:href="@{/reserves/list}" class="flex items-center gap-3 p-2 rounded hover:bg-white/10">
          <i class="hgi hgi-stroke hgi-calendar-03 text-xl"></i> Salón Social
        </a>
        <a th:href="@{/renters/list}" class="flex items-center gap-3 p-2 rounded hover:bg-white/10">
          <i class="hgi hgi-stroke hgi-house-01 text-xl"></i> Inquilinos
        </a>
        <a th:href="@{/admins/reports}" class="flex items-center gap-3 p-2 rounded hover:bg-white/10">
          <i class="hgi hgi-stroke hgi-chart"></i> Reportes
        </a>
      </nav>
    </div>
    <div class="px-6 py-4">
      <a th:href="@{/logout}"
        class="flex items-center justify-center gap-2 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded w-full text-center">
        <i class="hgi hgi-stroke hgi-logout-05"></i> Cerrar Sesión
      </a>
    </div>
  </aside>

    <!-- Contenido principal -->
    <main class="ml-64 p-10 min-h-screen bg-[url(/img/fondo4.jpg)] bg-cover bg-fixed bg-no-repeat bg-center">
        <div class="flex justify-between items-center mb-8">
            <a href="/admins/action"
                class="inline-flex items-center px-4 py-2 bg-[#138fcb] hover:bg-blue-700 text-white rounded-lg transition duration-300 shadow-md">
                <i class="hgi hgi-stroke hgi-arrow-left-02 mr-2"></i> Volver
            </a>
            <img class="h-20" src="/img/logo.png" alt="Logo Urbify" />
        </div>

        <!-- Filtros -->
        <form th:action="@{/renters/list}" method="get"
            class="mb-8 flex flex-col md:flex-row items-center justify-between gap-4">
            <!-- Selects para torre (bloque) y piso -->
            <div class="flex gap-4 w-full md:w-auto">
                <select name="torre" class="px-4 py-2 rounded-xl border border-[#138fcb] w-full">
                    <option value="">Todos los Bloques</option>
                    <option value="1">Torre 1</option>
                    <option value="2">Torre 2</option>
                    <option value="3">Torre 3</option>
                </select>
                <select name="piso" class="px-4 py-2 rounded-xl border border-[#138fcb] w-full">
                    <option value="">Todos los Pisos</option>
                    <option th:each="i : ${#numbers.sequence(1, 21)}" th:value="${i}" th:text="'Piso ' + ${i}"></option>
                </select>
            </div>

            <!-- Campo de búsqueda -->
            <input type="text" name="search" placeholder="Buscar por nombre o apartamento"
                class="px-4 py-2 rounded-xl border border-[#138fcb] w-full md:w-1/3" />

            <button type="submit"
                class="inline-block px-6 py-2 bg-[#138fcb] text-white font-semibold rounded-xl shadow hover:bg-blue-700 transition">
                <i class="hgi hgi-stroke hgi-search-01 text-sm"></i>
            </button>

            <a href="/renters/new"
                class="inline-block px-6 py-2 bg-green-600 text-white font-semibold rounded-xl shadow hover:bg-green-700 transition">
                <i class="hgi hgi-stroke hgi-home-add mr-2"></i> Nuevo Inquilino
            </a>
        </form>


        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <div th:each="apt : ${apartamentosPage}"
                class="relative bg-white border-2 border-[#138fcb] p-6 rounded-2xl shadow-md hover:shadow-lg transition transform hover:-translate-y-1 min-h-[280px]">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-bold text-[#138fcb]">
                        Apto <span th:text="${apt.apartamento}"></span>
                    </h2>
                    <span th:text="${apt.active ? 'Activo' : 'Inactivo'}"
                        th:classappend="${apt.active ? 'bg-green-100 text-green-600' : 'bg-red-100 text-red-600'}"
                        class="text-sm px-3 py-1 rounded-full"></span>
                </div>
                <div class="pb-16">
                    <p><strong>Torre:</strong> <span th:text="${apt.torre}"></span></p>
                    <p><strong>Piso:</strong> <span th:text="${apt.piso}"></span></p>
                    <p>
                        <strong>Inquilino:</strong>
                        <span
                            th:text="${apt.propietario != null ? apt.propietario.firstName + ' ' + apt.propietario.lastName : '-'}"></span>
                    </p>
                    <p>
                        <strong>Teléfono:</strong>
                        <span th:text="${apt.propietario != null ? apt.propietario.telephone : '-'}"></span>
                    </p>
                </div>

                <div class="absolute bottom-4 right-4 flex gap-2" th:if="${apt.propietario != null}">

                    <a th:href="@{renters/edit/{id}(id=${apt.propietario.id})}"
                        class="p-2 bg-blue-500 hover:bg-blue-700 text-white rounded-lg">
                        <i class="hgi hgi-stroke hgi-pencil-edit-02"></i>
                    </a>

                    <form th:action="@{/renters/delete/{id}(id=${apt.propietario.id})}" method="post"
                        onsubmit="return confirm('¿Se nos va el inquilino?')" style="display:inline;">

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <button class="p-2 bg-red-500 hover:bg-red-700 text-white rounded-lg" type="submit">
                            <i class="hgi hgi-stroke hgi-alert-02"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="flex justify-center mt-10 gap-2">
            <a th:if="${!apartamentosPage.first}"
                th:href="@{/renters/list(page=${currentPage - 1}, torre=${param.torre}, piso=${param.piso}, search=${param.search})}"
                class="px-4 py-2 bg-[#138fcb] text-white rounded hover:bg-blue-700">Anterior</a>

            <span th:each="i : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i == currentPage} ? 'bg-[#138fcb] text-white' : 'bg-gray-200'"
                class="px-4 py-2 rounded cursor-pointer">
                <a th:href="@{/renters/list(page=${i}, torre=${param.torre}, piso=${param.piso}, search=${param.search})}"
                    th:text="${i + 1}"></a>
            </span>

            <a th:if="${!apartamentosPage.last}"
                th:href="@{/renters/list(page=${currentPage + 1}, torre=${param.torre}, piso=${param.piso}, search=${param.search})}"
                class="px-4 py-2 bg-[#138fcb] text-white rounded hover:bg-blue-700">Siguiente</a>
        </div>
    </main>
</body>

</html>